# WhatsApp Cloud API (Meta for Developers)
WHATSAPP_WEBHOOK_VERIFY_TOKEN=اختار_كلمة_سر_بسيطة_من_عندك_هنا
BUSINESS_WHATSAPP_NUMBER=212600000000
WHATSAPP_ACCESS_TOKEN=هنا_التوكن_ديال_Meta

# قاعدة البيانات (Supabase)
DATABASE_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
